.mb-4
  = render 'shared/header_simple', text: 'Perfil de Usuario', url: :back

.mx-auto.w-full{:class => "md:w-2/3"}
  .overflow-hidden.bg-purple-800.shadow.sm:rounded-lg.my-4
    .px-4.py-5.sm:px-6
      %h3.text-lg.font-medium.leading-6.text-white Informacion del Usuario
      %p.mt-1.max-w-2xl.text-sm.text-white Datos publicos del usuario
    .border-t.border-gray-200
      %dl
        .bg-gray-50.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
          %dt.text-sm.font-medium.text-gray-500 Nombre de Usuario
          %dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @user.username
        
        .bg-white.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
          %dt.text-sm.font-medium.text-gray-500 Direccion de Correo Electronico
          %dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @user.email
        
        .bg-gray-50.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
          %dt.text-sm.font-medium.text-gray-500 Cursos Inscritos
          %dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0
            - if @user.courses.empty?
              No se ha inscrito en ningun curso
            - else
              %ul.divide-y.divide-gray-200.rounded-md.border.border-gray-200{role: "list"}
              - @user.courses.each do |course|
                %li.flex.items-center.justify-between.py-3.pl-3.pr-4.text-sm
                  .flex.w-0.flex-1.items-center
                    %i.fa-solid.fa-book.flex-shrink-0.text-purple-400
                    %span.ml-2.w-0.flex-1.truncate= course.name
                  .ml-4.flex-shrink-0
                    = link_to students_course_path(course),
                     class: 'font-medium text-indigo-600 hover:text-purple-500' do
                      %i.fa-solid.fa-eye{ title: 'Ir al curso' }

        .bg-white.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
          %dt.text-sm.font-medium.text-gray-500 Completados
          %dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0
            - if @user.courses_users.select{ |e| e.completed == true }.empty?
              No ha completado ningun curso
            - else
              %ul.divide-y.divide-gray-200.rounded-md.border.border-gray-200{role: "list"}
              - @user.courses_users.each do |completation|
                - if completation.completed
                  %li.flex.items-center.justify-between.py-3.pl-3.pr-4.text-sm
                    .flex.w-0.flex-1.items-center
                      %i.fa-solid.fa-book.flex-shrink-0.text-purple-400
                      %span.ml-2.w-0.flex-1.truncate= completation.course.name
                    .ml-4.flex-shrink-0
                      = link_to students_course_path(completation.course),
                       class: 'font-medium text-indigo-600 hover:text-purple-500' do
                        %i.fa-solid.fa-eye{ title: 'Ir al curso' }
