%h1.font-bold.text-2xl Intento de Prueba

= "Puntacion Obtenida: #{@quiz_attempt.sum_scores}/#{@quiz.sum_values}"


.overflow-x-scroll
	%table.rounded-t-lg.m-5.mx-auto.text-pink-100.bg-purple-900{ class: "w-5/6" }
		%thead
			%tr.text-left.border-b-2.border-pink-200.font-bold
				%th.px-4.py-3 #
				%th.px-4.py-3 Pregunta
				%th.px-4.py-3 Respuesta
				%th.px-4.py-3 Puntos
				%th.px-4.py-3 Calificacion
		%tbody
			- @quiz_attempt.question_attempts.each_with_index do |question_attempt, index|
				%tr.bg-purple-700.font-semibold
					%td.px-4.py-3.border-b.border-purple-500= index + 1
					%td.px-4.py-3.border-b.border-purple-500= question_attempt.quiz_question.title
					%td.px-4.py-3.border-b.border-purple-500
						= question_attempt.question_answer.answer
					%td.px-4.py-3.border-b.border-purple-500= "#{question_attempt.real_score}/#{question_attempt.max_score}"
					%td.px-4.py-3.border-b.border-purple-500= @quiz_attempt.result_quiz
