.flex.p-4.border.border-purple-600.rounded-md{ id: dom_id(mod),
 data: { item_id: mod.id, move_url: admins_courses_modules_move_path(mod) } }
	- if mod.type_name.eql?('Pagina')
		.flex.justify-start.items-start.gap-4
			.w-16.h-16.rounded.flex.justify-center.items-center.bg-purple-700.text-white.cursor-move
				%i.fa-regular.fa-file-lines.text-3xl

			.flex.flex-col
				.flex.items-center.gap-2
					%h4.font-bold= mod.type_name
					= button_to admins_courses_modules_path(mod),
					 { method: :delete,
					   class: 'cursor-pointer text-sm hover:text-red-600',
					   title: 'Borrar',
					   data: { turbo_confirm: '¿Seguro que quieres borrar este elemento?' } } do
						%i.fa-solid.fa-trash.text-sm
				= link_to mod.instanceable.title, admins_courses_modules_page_path(mod.instanceable_id), class: 'text-purple-600 hover:text-purple-800 visited:text-rose-700 text-sm break-all'

				= link_to edit_admins_courses_modules_page_path(mod.instanceable_id),
				 class: 'text-purple-600 hover:text-purple-800', 
				 title: 'Editar' do
					%i.fa-regular.fa-pen-to-square.text-base

	- else
		.flex.justify-start.items-start.gap-4
			.w-16.h-16.rounded.flex.justify-center.items-center.bg-rose-700.text-white.cursor-move
				%i.fa-solid.fa-file-pen.text-3xl

			.flex.flex-col
				%h4.font-bold= mod.type_name
				= link_to mod.instanceable.title, admins_courses_modules_quiz_path(mod.instanceable_id), class: 'text-purple-600 hover:text-purple-800 visited:text-rose-700 text-sm break-all'

				= link_to edit_admins_courses_modules_quiz_path(mod.instanceable_id), class: 'text-purple-600 hover:text-purple-800', data: { turbo_stream: true } do
					%i.fa-regular.fa-pen-to-square.text-base
