= turbo_frame_tag dom_id(section) do
	.my-4
		= build_accordion(title: section.title, h_classes: 'bg-purple-800 text-white text-bold cursor-pointer w-full') do
			.flex.flex-col.gap-4.m-4

				%div{ class: 'flex flex-col gap-4', data: { controller: 'drag-drop' } }

					- section.course_modules.order(:position).each do |mod|

						.border.border-purple-600.rounded.flex.flex-col{ id: mod.id, data: { move_url: admins_courses_modules_move_path(mod) } }
							.flex.justify-end.m-2
								%i.fa-solid.fa-gear.text-black.text-xl.hover:text-purple-600

							.flex.justify-start.items-start.gap-4.mb-4.mx-4
								.p-4.md:p-8.rounded.flex.justify-center.items-center.bg-purple-700.text-white
									%i.fa-regular.fa-file-lines.text-3xl

								.flex.flex-col
									%h4.font-bold= mod.type_name
									= link_to mod.instanceable.title, admins_courses_modules_page_path(mod.instanceable_id), class: 'text-purple-600 hover:text-purple-800 visited:text-rose-700 text-sm break-all'

									= link_to edit_admins_courses_modules_page_path(mod.instanceable_id), class: 'text-purple-600 hover:text-purple-800' do
										%i.fa-regular.fa-pen-to-square.text-base

							= link_to 'CHECK', nil, class: 'w-min border border-gray-800 rounded px-4 mx-4 my-3 hover:bg-gray-400 text-center'
							
				.flex.flex-col.gap-4.my-8.bg-gray-700
					= link_to 'New Page', new_admins_courses_modules_section_page_path(section), class: 'w-full py-4 rounded bg-purple-500 text-center'

					= link_to 'edit', edit_admins_section_path(section), class: 'w-full py-4 rounded bg-yellow-500 text-center'

					= button_to 'Delete', admins_section_path(section), { class: 'w-full py-4 rounded bg-red-600', method: :delete }