= render 'shared/header_module', model: @quiz

.bg-gray-100.my-12
	= @quiz.description


- if @quiz.quiz_questions.any?
	= link_to 'Hacer Prueba', students_courses_quiz_start_path(@quiz), class: 'rounded-lg py-3 px-5 bg-purple-600 inline-block font-medium text-white'
- else
	.bg-red-400
		%p.font-bold.text-md.text-red-600 Este cuestionario aun no tiene preguntas

= link_to 'Regresar al curso', students_course_path(@quiz.course_id), class: 'rounded-lg py-3 px-5 bg-purple-700 inline-block font-medium text-white'

%p.mb-4= "Calificacion para aprobar: #{@quiz.min_value}/#{@quiz.value}"

- if @user_attempts.size >= 1
	%p.w-full.font-bold.text-xl.mx-auto.my-8 Resumen de Intentos Previos
	.overflow-x-scroll
		%table.rounded-t-lg.m-5.mx-auto.text-pink-100.bg-purple-900{ class: "w-5/6" }
			%thead
				%tr.text-left.border-b-2.border-pink-200.font-bold
					%th.px-4.py-3 Intentos
					%th.px-4.py-3 Realizado
					%th.px-4.py-3 Puntos
					%th.px-4.py-3 Calificacion Final
					%th.px-4.py-3 Estado
					%th.px-4.py-3 Revisar
			%tbody
				- @user_attempts.each_with_index do |user_attempt, index|
					%tr.bg-purple-700.font-semibold
						%td.px-4.py-3.border-b.border-purple-500= index + 1
						%td.px-4.py-3.border-b.border-purple-500= user_attempt.created_at.to_date
						%td.px-4.py-3.border-b.border-purple-500= "#{user_attempt.sum_scores}/#{user_attempt.module_quiz.sum_values}"
						%td.px-4.py-3.border-b.border-purple-500= user_attempt.result_quiz
						%td.px-4.py-3.border-b.border-purple-500
							- if user_attempt.result_quiz >= @quiz.min_value
								.flex.items-center.gap-4
									%i.fa-solid.fa-check.text-white.text-2xl
									Aprobado
							- else
								.flex.items-center.gap-4
									%i.fa-solid.fa-xmark.text-white.text-2xl
									Reprobado
						%td.px-4.py-3.border-b.border-purple-500
							= link_to students_courses_quiz_results_attempt_path(@quiz, user_attempt), class: 'w-full font-bold text-2xl text-white hover:text-pruple-100 text-center', title: 'Revisar Resultados' do
								%i.fa-solid.fa-magnifying-glass