.flex.flex-start.gap-4.m-4
	.p-4.rounded.bg-purple-600.text-white
		%i.fa-solid.fa-file-pen.text-3xl
	.flex.flex-col
		%span.text-xs.font-mono CUESTIONARIO
		%h5.font-bold.text-xl= @quiz.title
%hr.border-black

.bg-gray-100
	= @quiz.description


= link_to 'Hacer Prueba', students_courses_quiz_start_path(@quiz), class: 'font-bold text-xl my-4 hover:text-purple-600'


%p.mb-8= "Califiacion para aprobar: #{@quiz.min_value}/#{@quiz.value}"

- if @user_attempts.size >= 1
	%p.font-bold.text-xl.mx-auto.my-8 Resumen de Intentos Previos
	.overflow-x-scroll
		%table.rounded-t-lg.m-5.mx-auto.text-pink-100.bg-purple-900{ class: "w-5/6" }
			%thead
				%tr.text-left.border-b-2.border-pink-200.font-bold
					%th.px-4.py-3 Intentos
					%th.px-4.py-3 Realizado
					%th.px-4.py-3 Puntos
					%th.px-4.py-3 Calificacion
					%th.px-4.py-3 Revisar
			%tbody
				- @user_attempts.each_with_index do |user_attempt, index|
					%tr.bg-purple-700.font-semibold
						%td.px-4.py-3.border-b.border-purple-500= index + 1
						%td.px-4.py-3.border-b.border-purple-500= user_attempt.created_at.to_date
						%td.px-4.py-3.border-b.border-purple-500= "#{user_attempt.sum_scores}/#{user_attempt.module_quiz.sum_values}"
						%td.px-4.py-3.border-b.border-purple-500= user_attempt.result_quiz
						%td.px-4.py-3.border-b.border-purple-500= link_to 'Revisar', students_courses_quiz_results_attempt_path(@quiz, user_attempt), class: 'hover:text-purple-600 font-bold text-center'