.max-w-md.overflow-hidden.rounded-lg.bg-white.shadow
  - if course.cover.attached?
    = link_to url_for(course.cover), title: 'Ver Imagen', target: '_blank' do
      = image_tag course.cover, class: 'aspect-video w-full object-cover', alt: course.name, class: 'aspect-video w-full object-cover h-32'
  - else
    .bg-slate-900.w-full.h-32.flex.justify-center.items-center.text-5xl{ title: 'Sin Portada' }
      %i.fa-solid.fa-image.text-slate-700


  .p-4
    %p.mb-1.text-sm.text-primary-500
      Creado•
      %time= course.created_at.strftime("%d-%m-%Y")

      - if course.visible?
        %span.inline-flex.items-center.gap-1.rounded-full.bg-purple-50.px-2.py-1.text-xs.font-semibold.text-purple-600.mr-2 Visible
      - else
        %span.inline-flex.items-center.gap-1.rounded-full.bg-rose-50.px-2.py-1.text-xs.font-semibold.text-rose-600.mr-2 Invisible


    .flex.items-center.gap-2
      = link_to admins_course_path(course),
       id: dom_id(course),
       class: '' do
        %h3.text-xl.font-medium.text-gray-900.hover:text-purple-600= course.name

      = link_to edit_admins_course_path(course),
       class: "text-purple-600 font-bold text-sm hover:text-purple-800",
       title: 'Editar Curso' do
        %i.fa-solid.fa-pen-to-square