= form_with(model: [:admins, course]) do |form|
	= render 'shared/form_errors', model: course
	.my-5
		.relative.z-0.w-full.mb-6.group
			= form.text_field :name, class: "block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-purple-600 peer py-2.5", title: 'Titulo del curso'

			= form.label :name, class: 'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 peer-focus:left-0 peer-focus:text-purple-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 origin-[0]'

	.my-5
		= form.label :description
		= form.rich_text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full trix-editor bg-gray-50", title: 'Descripcion del Curso'
	.my-5.flex.flex-col.gap-2
		= form.label :visible,
		 class: 'relative inline-flex items-center cursor-pointer', 
		 title: 'Visibilidad del Curso' do
			= form.check_box :visible, class: "sr-only peer", value: ''
			%div{ class: 'w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600' }
			%span{ class: 'ml-3 text-sm font-medium text-gray-900' } Visible
		%span.text-xs.font-mono Mientras la visibilidad este desactivada los estudiantes no podran acceder al curso

	.my-5
		= form.label :cover, class: 'block', title: 'Portada del Curso' do
			%span Portada del curso(*.png|*.jpg)
			= form.file_field :cover, class: 'block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-purple-50 file:text-purple-700 hover:file:bg-purple-100 focus:border-0 focus:outline-none cursor-pointer'

	.flex.gap-4
		= form.submit class: "text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"

		- if action_name.eql?('edit')
			= link_to "Cancelar", admins_course_path(@course), class: "text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
