= render 'shared/header_simple', text: 'Pagina principal del Curso', url: admins_courses_path



.mx-auto.w-full{:class => "md:w-2/3"}
	%h1.font-bold.text-2xl= @course.name

	.mb-6
		= build_accordion(active_color: 'text-purple-600', header: "Descripcion") do
			- if @course.description.blank?
				%p Este curso no posee Descripcion
			- else
				= @course.description


	.flex.items-center.mb-4.gap-4
		%h1.font-bold.text-2xl Secciones
		= link_to new_admins_course_section_path(@course),
		 class: 'text-purple-600 cursor-pointer text-3xl',
		 title: 'Crear Seccion',
		 data: { turbo_frame: dom_id(Section.new) } do

			%i{ class: 'fa-solid fa-circle-plus' }		

		= turbo_frame_tag dom_id(Section.new)

	.mb-4{ data: { controller: 'modal-module' } }
		= turbo_frame_tag 'sections' do
			= render @course.sections

		= render 'components/module_modal'


	%div
		= link_to 'Editar Datos del Curso', edit_admins_course_path(@course), class: "text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
		
		.inline-block.ml-2
			= button_to 'Eliminar este Curso', admins_course_path(@course), { class: "text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center", method: :delete, data: { turbo_confirm: 'Estas Seguro?' } }

