.mb-4
	= render 'shared/header_simple', text: 'Indice de Usuarios', url: :back

.overflow-x-scroll.mt-4
	%table.rounded-t-lg.m-5.mx-auto.text-white.bg-purple-700{ class: "w-5/6" }
		%thead
			%tr.text-left.border-b-2.border-purple-200.font-bold
				%th.px-4.py-3 #
				%th.px-4.py-3 Nombre de Usuario
				%th.px-4.py-3 Correo Electronico
				%th.px-4.py-3 Rol de Usuario
				%th.px-4.py-3 Fecha de Registro
				%th.px-4.py-3 Acciones
		%tbody
			- @users.order(:role).each_with_index do |user, index|
				- if user.admin?
					%tr.font-semibold.text-black{ class: index.even? ? 'bg-white' : 'bg-gray-50' }
						%td.px-4.py-3.border-b.border-black= index + 1
						%td.px-4.py-3.border-b.border-black= user.username
						%td.px-4.py-3.border-b.border-black= user.email
						%td.px-4.py-3.border-b.border-black= t("user.role.#{user.role}")
						%td.px-4.py-3.border-b.border-black= user.created_at.to_date
						%td.px-4.py-3.border-b.border-black
							.flex.justify-center.items-center.gap-4
								%i.fa-solid.fa-trash.opacity-50{ title: "Este usuario no se puede eliminar" }

								= link_to admins_user_path(user), 
									class: 'hover:text-sky-500 text-lg cursor-pointer',
									title: 'Inspeccionar Usuario' do
									%i.fa-solid.fa-eye
				- else
					%tr.font-semibold.text-black{ class: index.even? ? 'bg-white' : 'bg-gray-50' }
						%td.px-4.py-3.border-b.border-black= index + 1
						%td.px-4.py-3.border-b.border-black= user.username
						%td.px-4.py-3.border-b.border-black= user.email
						%td.px-4.py-3.border-b.border-black= t("user.role.#{user.role}")
						%td.px-4.py-3.border-b.border-black= user.created_at.to_date
						%td.px-4.py-3.border-b.border-black
							.flex.justify-center.items-center.gap-4
								= button_to admins_user_path(user),
								 { class: "hover:text-red-500 text-lg cursor-pointer",
									method: :delete,
									data: { turbo_confirm: '¿Estas Seguro que quieres eliminar este usuario?' },
									title: 'Eliminar Usuario' } do

									%i.fa-solid.fa-trash

								= link_to admins_user_path(user), 
									class: 'hover:text-sky-500 text-lg cursor-pointer',
									title: 'Inspeccionar Usuario' do
									%i.fa-solid.fa-eye




- if @pagy.pages > 1
	.text-center
		!= pagy_nav(@pagy, link_extra: 'data-turbo-action="advance"')