= form_with(model: model, url: url, class: "p-4", id: dom_id(model)) do |form|
  = render 'shared/form_errors', model:

  = render(AccordionComponent.new(header: 'Pregunta', active_color: 'text-rose-600')) do
    .mb-5

      .relative.z-0.w-full.mb-6.group
        = form.text_field :title, class: "block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-purple-600 peer py-2.5", title: 'Titulo de la pregunta'

        = form.label :title, class: 'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 peer-focus:left-0 peer-focus:text-purple-600 peer-focus:dark:text-purple-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 origin-[0]'

    .mb-5
      = form.label :description
      = form.rich_text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full trix-editor bg-gray-50"
    .mb-5
      .relative.z-0.w-full.mb-6.group
        = form.number_field :score, class: "block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-purple-600 peer py-2.5", title: 'Valor de la pregunta'

        = form.label :score, class: 'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 peer-focus:left-0 peer-focus:text-purple-600 peer-focus:dark:text-purple-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 origin-[0]'




  - case model.question_type
  - when 'multichoice'
    = form.hidden_field :question_type, value: 'multichoice'

    = form.fields_for :question_answers do |answer|
      = render(AccordionComponent.new(header: "Respuesta #{answer.index + 1}", active_color: 'text-rose-600', collapsed: 'false')) do
        .mb-4
          = answer.label :answer
          = answer.rich_text_area :answer, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full trix-editor bg-gray-50'

        .mb-4
          = answer.label :feedback
          = answer.rich_text_area :feedback, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full trix-editor bg-gray-50'

        %div
          = answer.label :fraction
          = answer.select :fraction,
           QuestionAnswer.permited_scores,
           {},
           { class: 'block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b-2 border-gray-200 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200 peer' }
          
  - when 'truefalse'
    = form.hidden_field :question_type, value: 'truefalse'

    = render(AccordionComponent.new(header: "Respuesta", active_color: 'text-rose-600', collapsed: 'false')) do
      = form.fields_for :question_answers do |answer|
        .mb-4
          = answer.label :answer
          = answer.text_field :answer,
           class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full trix-editor bg-gray-50 cursor-not-allowed',
           value: answer.index.zero? ? 'Verdadero' : 'Falso', 
           readonly: true

        .mb-4
          = answer.label :feedback
          = answer.rich_text_area :feedback, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full trix-editor bg-gray-50'

        %div
          = answer.label :fraction
          = answer.select :fraction,
           QuestionAnswer.permited_scores(type: 'truefalse'),
           {},
           { class: 'block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b-2 border-gray-200 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200 peer' }


  .my-4
    = form.submit class: "text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
