= form_with(model: model, url: url, class: "p-4") do |form|
  - if model.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      %h2
        Hay problemas que impiden registrar la pregunta:
      %ul
        - model.errors.each do |error|
          %li= error.full_message

  .flex.flex-col.divide-y.divide-black
    = build_accordion(title: 'Pregunta', h_classes: 'w-full bg-gray-100 text-bold cursor-pointer') do
      .flex.flex-col.bg-white
        .my-5
          = form.label :title
          = form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
        .my-5
          = form.label :description
          = form.rich_text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full bg-white"
        .my-5
          = form.label :score
          = form.text_field :score, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

    = build_accordion(title: 'Respuestas', h_classes: 'w-full bg-gray-100 text-bold cursor-pointer') do

      .border-2.border-black.bg-white
        = form.fields_for :question_answers do |answer|

          .flex.flex-col.gap-4.mx-4
            %div
              = answer.label :answer
              = answer.rich_text_area :answer, class: 'block shadow rounded-md border border-black outline-none px-3 py-2 mt-2 w-full bg-white'

            %div
              = answer.label :feedback
              = answer.rich_text_area :feedback, class: 'block shadow rounded-md border border-black outline-none px-3 py-2 mt-2 w-full bg-white'

            %div

              = answer.label :fraction
              = answer.select :fraction, QuestionAnswer.permited_scores, class: 'block shadow rounded-md border border-black outline-none px-3 py-2 mt-2 w-full bg-white'
          %hr.border.border-black          

  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-purple-600 text-white inline-block font-medium cursor-pointer"
