= form_with(model: model, url: url) do |form|
  - if model.errors.any?
    .flex.p-4.mb-4.text-sm.text-red-700.bg-red-100.rounded-lg{role: "alert"}
      %svg.flex-shrink-0.inline.w-5.h-5.mr-3{"aria-hidden" => "true", fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
        %path{"clip-rule" => "evenodd", d: "M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z", "fill-rule" => "evenodd"}
      %span.sr-only Peligro
      %div
        %span.font-medium Hay problemas que impiden registrar el cuestionario:
        %ul.ml-4.list-disc.list-inside{class: "mt-1.5"}
          - model.errors.each do |error|
            %li= error.full_message


  .mb-5
    .relative.z-0.w-full.group
      = form.text_field :title, class: "block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-purple-600 peer py-2.5", title: 'Titulo del cuestionario'

      = form.label :title, class: 'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 peer-focus:left-0 peer-focus:text-purple-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 origin-[0]'


  .mb-5
    = form.label :description
    = form.rich_text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full trix-editor bg-gray-50"

  .mb-5
    .relative.z-0.w-full.group
      = form.number_field :value, class: "block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-purple-600 peer py-2.5", title: 'Valor general del cuestionario'

      = form.label :value, class: 'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 peer-focus:left-0 peer-focus:text-purple-600 peer-focus:dark:text-purple-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 origin-[0]'

  .mb-5
    .relative.z-0.w-full.group
      = form.number_field :min_value, class: "block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-purple-600 peer py-2.5", title: 'Valor minimo aprobatorio'

      = form.label :min_value, class: 'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 peer-focus:left-0 peer-focus:text-purple-600 peer-focus:dark:text-purple-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 origin-[0]'

  .inline
    = form.submit class: "text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
