= form_with(model: model, url: url, class: "contents") do |form|
  - if model.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      %h2
        Hay problemas que impiden registrar el cuestionario:
      %ul
        - model.errors.each do |error|
          %li= error.full_message
  .my-5
    = form.label :title
    = form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :description
    = form.rich_text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  - unless model.id.nil?
    .my-5
      = form.label :value
      = form.text_field :value, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"    
  .my-5
    = form.label :min_value
    = form.text_field :min_value, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
