.mb-4
	= render 'shared/header_module', model: @quiz, url: admins_course_path(@quiz.course_id)

.mx-auto.w-full{:class => "md:w-2/3"}

	-# Tab List
	.mb-4.border-b.border-black
		%ul#quiz-tab.flex.gap-4.-mb-px.text-sm.font-medium.text-center.overflow-x-scroll.text-rose-600{
			role: 'tablist',
			data: { 'tabs-toggle': '#quiz-tab-content' }
		}

			-#  Tab buttons
			%li{ role: 'presentation' }
				%button{
					id: 'quiz-resume',
					role: 'tab',
					type: 'button',
					class: 'w-max inline-block p-4 rounded-t-lg font-bold',
					title: 'Informacion del Cuestionario',
					data: { 'tabs-target': '#tab-quiz-resume' }
				}
					Cuestionario

			%li{ role: 'presentation' }
				%button{
					id: 'quiz-attempts',
					role: 'tab',
					type: 'button',
					class: 'w-max inline-block p-4 rounded-t-lg font-bold',
					title: 'Informacion de Intentos de Estudiantes',
					data: { 'tabs-target': '#tab-quiz-attempts' }
				}
					Estudiantes


	-# Tab Panel
	#quiz-tab-content.mb-4
		-# Tab Panel 1: Quiz
		.hidden.p-4.rounded-lg.bg-gray-50{
			id: 'tab-quiz-resume',
			role: 'tabpanel'
		}

			.overflow-hidden.bg-rose-800.shadow.sm:rounded-lg.mb-4
				.px-4.py-5.sm:px-6
					%h3.text-lg.font-medium.leading-6.text-white Informacion del Cuestionario
					%p.mt-1.max-w-2xl.text-sm.text-white Resumen
				.border-t.border-gray-200
					%dl
						.bg-gray-50.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
							%dt.text-sm.font-medium.text-gray-500 Nombre del cuestionario
							%dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @quiz.title
						
						.bg-white.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
							%dt.text-sm.font-medium.text-gray-500 Valor general del cuestionario
							%dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @quiz.value
						
						.bg-gray-50.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
							%dt.text-sm.font-medium.text-gray-500 Valor minimo aprobatorio
							%dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @quiz.min_value

						.bg-white.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
							%dt.text-sm.font-medium.text-gray-500 Conteo global de intentos
							%dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0= @quiz.quiz_attempts.size

						- if @quiz.quiz_attempts_any?
							.bg-gray-50.px-4.py-5.sm:grid.sm:grid-cols-3.sm:gap-4.sm:px-6
								%dt.text-sm.font-medium.text-gray-500 Advertencia
								%dd.mt-1.text-sm.text-gray-900.sm:col-span-2.sm:mt-0
									.flex.flex-col.gap-4
										%p
											No puedes modificar un cuestionario que ya ha sido respondido por estudiantes
											%span.text-xs.text-red-600 (Tienes que eliminar todos los intentos de usuarios para poder editar)

										= link_to 'Borrar intentos de usuarios',
											delete_attempts_admins_courses_modules_quiz_path(@quiz),
											class: 'text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center',
											data: { turbo_method: :delete, turbo_confirm: '¿Seguro?' }


			- if @quiz.quiz_attempts_any?
				%h2.font-bold.text-3xl.border-b-2.border-black Preguntas
			- else

				.flex.items-center.gap-4.border-b-2.border-black.mb-4
					%h1.font-bold.text-3xl Preguntas

					%div{ data: { controller: 'modal' } }
						= render(Modal::BtnComponent.new(title: 'Agregar Pregunta',
																		style: 'text-purple-600 text-3xl cursor-pointer')) do

							%i.fa-solid.fa-circle-plus


						= render(Modal::WindowComponent.new(header: 'Agregar Pregunta')) do
							.p-6.grid.grid-cols-2.gap-4
								%ul.flex.flex-col.gap-2{
									role: 'tablist',
									data: { 'tabs-toggle': '#question-descriptions' }
								}
									%li{ role: 'presentation' }
										%button#multichoice-tab.w-full.p-4.bg-purple-100.text-purple-600{
											role: 'tab',
											type: 'button',
											data: { 'tabs-target': '#multichoice' },
										}
											Opcion Multiple

									%li{ role: 'presentation' }
										%button#truefalse-tab.w-full.p-4.bg-purple-100.text-purple-600{
											role: 'tab',
											type: 'button',
											data: { 'tabs-target': '#truefalse' },
										}
											Verderaro o Falso


								#question-descriptions
									#multichoice.hidden.p-4.rounded-lg.bg-gray-50{"aria-labelledby" => "multichoice-tab", role: "tabpanel"}
										.flex.flex-col.gap-4
											.w-full.flex.flex-col.gap-4
												%h5.text-md.font-mono.text-pruple-700.self-center.underline Opcion Multiple
												%p.text-sm.text-gray-500
													Es un tipo de pregunta, donde el usuario debera escojer una respuesta entre un listado de respuestas posibles

											= link_to 'Registrar pregunta',
											 new_admins_courses_modules_quiz_question_path(@quiz, type: 'multichoice'),
											 class: 'text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center'

									#truefalse.hidden.p-4.rounded-lg.bg-gray-50{"aria-labelledby" => "truefalse-tab", role: "tabpanel"}
										.flex.flex-col.gap-4
											.w-full.flex.flex-col.gap-4
												%h5.text-md.font-mono.text-pruple-700.self-center.underline Verdadero/Falso
												%p.text-sm.text-gray-500
													Es un tipo de pregunta, donde el usuario debera escojer segun el enunciado 2 opciones
													%span.text-green-600 Verdadero
													o
													%span.text-red-600 Falso

											= link_to 'Registrar pregunta',
											 new_admins_courses_modules_quiz_question_path(@quiz, type: 'truefalse'),
											 class: 'text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center'


			- if @quiz.quiz_questions.any?
				%p.font-bold.text-xl.w-full.text-center= "Puntaje total de preguntas: #{@quiz.sum_values}"

				.overflow-x-scroll
					%table.rounded-t-lg.text-white.bg-rose-700.w-full
						%thead
							%tr.text-left.border-b-2.border-gray-200.font-bold
								%th.px-4.py-3 
								%th.px-4.py-3 Titulo
								%th.px-4.py-3 Puntacion
								%th.px-4.py-3 Tipo de Pregunta
								%th.px-4.py-3 Acciones
						%tbody{ data: { controller: 'drag-drop', 'drag-drop-handle-value': '.fa-up-down-left-right' } }
							- @quiz.quiz_questions.order(:position).each_with_index do |question, index|
								%tr.font-semibold.text-gray-900{
									id: dom_id(question),
									class: index.even? ? 'bg-white' : 'bg-gray-50',
									data: { item_id: question.id, move_url: admins_courses_modules_move_question_path(question) }
								}
									%td.px-4.py-3.border-b.border-gray-700
										%i.fa-solid.fa-up-down-left-right.text-xl.cursor-move.hover:text-rose-600{
											title: 'Arastra para reorganizar preguntas'
										}
									%td.px-4.py-3.border-b.border-gray-700
										- if @quiz.quiz_attempts_any?
											= question.title
										- else
											= link_to question.title, edit_admins_courses_modules_question_path(question), title: 'Editar Pregunta',class: 'hover:text-rose-600'
									%td.px-4.py-3.border-b.border-gray-700= question.score
									%td.px-4.py-3.border-b.border-gray-700= question.type
									%td.px-4.py-3.border-b.border-gray-700
										- unless @quiz.quiz_attempts_any?
											= button_to admins_courses_modules_question_path(question), { method: :delete, class: 'text-2xl font-bold text-gray-900 hover:text-red-500', title: 'Eliminar Pregunta', data: { turbo_confirm: 'Tambien se eliminara las respuestas de esta pregunta. ¿Seguro que quieres eliminar esta pregunta?' } } do

												%i.fa-solid.fa-trash



	-# Tab Panel 2: Quiz-Attempts
	.hidden.p-4.rounded-lg.bg-gray-50{
		id: 'tab-quiz-attempts',
		role: 'tabpanel'
	}
		%p.font-bold.text-xl.w-full.text-center Resumen de interacciones de estudiantes

		.overflow-x-scroll
			%table.rounded-t-lg.text-white.bg-rose-700.w-full
				%thead
					%tr.text-left.border-b-2.border-gray-200.font-bold
						%th.px-4.py-3 #
						%th.px-4.py-3 Usuario
						%th.px-4.py-3 N° Intentos
						%th.px-4.py-3 Mayor Puntaje Obtenido
				%tbody
					- @quiz.students_results.each_with_index do |student, index|
						%tr.font-semibold.text-gray-900{ class: index.even? ? 'bg-white' : 'bg-gray-50' }
							%td.px-4.py-3.border-b.border-gray-700= index + 1
							%td.px-4.py-3.border-b.border-gray-700
								= link_to student.user.username,
								 admins_user_path(student.user_id),
								 class: 'text-purple-600 hover:text-gray-800'
							%td.px-4.py-3.border-b.border-gray-700= student.attempts
							%td.px-4.py-3.border-b.border-gray-700= "#{student.score}/#{@quiz.sum_values}"